APP_NAME=MedTrace API
APP_ENV=dev
API_V1_PREFIX=/api/v1
SECRET_KEY=change_this_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/medtrace
CORS_ORIGINS=http://localhost:3000
